APScheduler==3.6.3
cachetools==4.2.2
certifi==2025.6.15
filetype==1.2.0
python-dotenv==1.0.0
python-telegram-bot==13.7
pytz==2025.2
setuptools==80.9.0
six==1.17.0
tornado==6.5.1
tzlocal==5.3.1
urllib3==1.26.15
